.flow-question
  %h2.flow-question__question
    How is delivery going overall?

  = f.input :delivery_status,
      collection: StatusPresenter.new(:delivery_status).all,
      as: :radio_buttons,
      legend_tag: false
