.flow-question
  %h2.flow-question__question
    What are the team's goals for the next sprint?

  .flow-question__detail
    %p You can list up to five goals.

  .sprint-goals
    %ol
      - f.object.next_sprint_goals.each do |goal|
        %li= text_field_tag "update[next_sprint_goals][]", goal, class: 'text-input'
