%h2 How are you tracking against your OKRs this quarter?

= f.input :okr_status,
    collection: StatusPresenter.new(:okr_status).all,
    as: :radio_buttons,
    legend_tag: false,
    item_wrapper_class: 'radio-button radio-button--lg radio-button--with-subtitle'
