%h2 What were the team's goals for this sprint?

%p You can list up to five goals.

.sprint-goals
  %ol
    - f.object.sprint_goals.each do |goal|
      %li= text_field_tag "update[sprint_goals][]", goal, class: 'text-input'
