.flow-question
  %h2.flow-question__question
    What happened this sprint?

  .flow-question__detail
    %p Write a short summary of this sprint.

    %p A good summary covers:

    %ul
      %li what the team achieved
      %li what the team learned
      %li what's affecting the delivery status

  .markdown-input
    = f.input :content, as: :text,
                        label: false,
                        input_html: { class: 'text-area-input text-area-input--full-width', rows: 16 },
                        wrapper_html: { class: 'markdown-input__input' }
    = render partial: 'shared/components/markdown_input_guidance'

