.flow-question
  %h2.flow-question__question
    What happened this sprint?

  .flow-question__detail
    %p Write a short summary of this sprint.

    %p A good summary covers:

    %ul
      %li what the team achieved
      %li what the team learned
      %li what's affecting the delivery status

.markdown-wrapper
  = f.input :content, as: :text, label: false, input_html: { class: 'text-area-input text-area-input--full-width'}
  .hint
    %p
      You can style your text with
      = link_to 'Markdown', 'https://www.markdownguide.org/cheat-sheet'
      \.
    %p
      For example:
    %pre
      \# Heading
    %pre.italic
      *italic*
    %pre.bold
      **bold**
    %pre
      \- Dot point A
      \- Dot point B
      \- Dot point C
    %pre
      1. Numbered item 1
      2. Numbered item 2
      3. Numbered item 3

