%div{ class: class_name }
  - if label.present?
    .indicator-list__label
      .indicator-list__inner
        = label
  .indicator-list__value
    .indicator-list__inner
      = status
      = content
