%ul.sprint-timeline
  .sprint-timeline__background
  - sprints.each do |sprint|
    %li.sprint-timeline__item{ class: "sprint-timeline__item--#{sprint.status}" }
      = link_to sprint_path(sprint), class: 'sprint-timeline__number', title: "Open the report for #{sprint.name}" do
        - if sprint.current?
          .sprint-timeline__current-label Current sprint:
        = sprint.short_label
