= render partial: 'timeline', locals: { sprints: sprints }

- if key_commitments.any?
  = render partial: 'key_commitments', locals: { quarter: quarter, key_commitments: key_commitments }
- else
  .info-box.no-sprints-message
    .info-box__icon
      .icon.icon--xl.icon--commitment
    .info-box__message Paddock doesn't have the detail on commitments for this quarter

