@use 'helpers';

.sprint-delivery-status {
  display: flex;
  gap: .5rem;
  font-size: 1em;
}

.sprint-delivery-status__item {
  flex: 1;
  padding: .75em 1em 1em;
  min-height: 7em;
  border-radius: .4em;
  display: block;
  color: helpers.colour('white');
  text-align: center;
}

.sprint-delivery-status__item--status-green {
  background: helpers.colour('green', '800');
}

.sprint-delivery-status__item--status-amber {
  background: helpers.colour('orange', '600');
}

.sprint-delivery-status__item--status-red {
  background: helpers.colour('red', '600');
}

.sprint-delivery-status__value {
  font-size: 3.2em;
  font-weight: bold;
}

.sprint-delivery-status__label {
  font-weight: bold;
  font-size: 1em;
}
