@use 'helpers';

.sprints-summary {
  margin: -1.5rem -1.5rem 1.5rem -1.5rem;
  background: helpers.colour('blue', '50');
  padding: 1.5rem;
  display: flex;
}

.sprints-summary__status {
  width: 50%;
  margin-left: 25%;
}

.sprints-summary__actions {
  text-align: right;
  flex: 1;
}

.sprints-summary__action-icon {
  padding-right: .25em;
}
