@mixin button($base-button-color, $base-button-text-colour) {
  -webkit-appearance: none;
  -moz-appearance: none;

  background: $base-button-color;
  display: inline-block;
  padding: .6em .9em;
  border-radius: .2em;
  border: none;
  border-bottom: .2em solid darken($base-button-color, 20%);
  cursor: pointer;
  color: $base-button-text-colour;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background: darken($base-button-color, 5%);
  }

  &:active {
    border-bottom-width: .1em;
    margin-top: .1em;
  }
}

@mixin button-primary {
  @include button($primary-button-color, $primary-button-text-color);
}

@mixin button-inverted {
  @include button($inverted-button-color, $inverted-button-text-color);
}

@mixin button-danger {
  @include button($danger-button-color, $danger-button-text-color);
}

@mixin button-success {
  @include button($success-button-color, $success-button-text-color);
}

.button {
  @include button-primary;
}

.button-inverted {
  @include button-inverted;
}

a.button {
  &, &:link {
    @include button-primary;
  }
}

a.button-inverted {
  &, &:link {
    @include button-inverted;
  }
}
