input[type=submit], button {
  @extend .button;
  @extend .button--primary;

  font-size: 1.1rem;
}

form .actions {
  background: $light-grey;
  padding: 1rem;
  margin-bottom: 2rem;

  .cancel {
    display: inline-block;
    padding-left: .75rem;
  }
}
