%li.sprint
  .sprint-details
    .sprint-name=sprint.name
    .sprint-date
      = sprint.start_on.strftime('%b %e %Y')
      to
      = sprint.end_on.strftime('%b %e %Y')
  .sprint-actions
    = render(Common::ButtonComponent.new(tag: :a,
                                         href: edit_manage_sprint_path(current_sprint),
                                         scheme: :primary,
                                         style: :inverted)) { 'Edit' }
