.sprint-navigation
  .sprint-navigation__dates
    = quarter_start_on
    to
    = quarter_end_on
  - if link_to_previous_quarter?
    = link_to previous_quarter_link,
        class: 'sprint-navigation__button sprint-navigation__button--previous',
        title: 'Previous quarter' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Previous quarter
  - else
    .sprint-navigation__button.sprint-navigation__button--previous.sprint-navigation__button--disabled
      .sprint-navigation__icon
  - if link_to_next_quarter?
    = link_to next_quarter_link,
        class: 'sprint-navigation__button sprint-navigation__button--next',
        title: 'Next quarter' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Next quarter
  - else
    .sprint-navigation__button.sprint-navigation__button--next.sprint-navigation__button--disabled
      .sprint-navigation__icon
