.view--sprints-show {
  .summary {
    padding: 1rem;
    border-radius: .5rem;
    background: $light-grey;
    margin-bottom: 2rem;

    ul.delivery-status {
      display: flex;
      gap: .5rem;

      li {
        flex: 1;
        padding: 1rem;
        min-height: 8rem;
        border-radius: .5rem;
        display: block;
        color: $white;
        text-align: center;

        .value {
          display: block;
          font-size: 3.5rem;
          font-weight: bold;
        }
        .label {
          font-weight: bold;
          font-size: 1.2rem;
        }

        &.status-green { background: $green; }
        &.status-amber { background: $amber; }
        &.status-red { background: $red; }
      }
    }
  }

  li.group {
    margin-bottom: 2.8rem;

    > h2 {
      font-size: .9rem;
      text-transform: uppercase;
      margin-bottom: .7rem;
      color: #555;
      padding-left: 1rem;
    }
  }

  ul.teams {
    margin-bottom: 2rem;

    li {
      margin-bottom: .5rem;
    }

    a {
      display: flex;
      gap: 1rem;
      text-decoration: none;
      color: $black;
      padding: 1rem;
      border-radius: .5rem;
      background: $light-grey;
      box-shadow: #e6e6e6 0px 1px 1px;

      &:hover {
        background: $silver;
      }
    }

    h3 {
      font-size: 1.2rem;
      margin: 0;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        flex: 1;
      }
    }

    .key-indicators {
      flex: 65%;
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      max-width: 65%;
    }
    .indicator {
      flex: 1;
      background: $white;
      border-radius: .5rem;
      padding: .6rem;
      min-width: 11rem;

      display: flex;

      .label {
        flex: 1;
        color: #000;
        margin-right: .4rem;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .75rem;
        margin-top: .15rem;
        color: #888;
      }

      .value {
        flex: auto;
        text-align: right;
      }

      .label, .value {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &.issues {
        flex-direction: row;
        align-items: center;
      }

      .inner {
        padding: 0;
        width: 100%;
      }
    }

    .delivery-status {
      @include delivery-indicator;

      .delivery-indicator {
        margin-left: .2rem;
        margin-bottom: -.2rem;
      }
    }

  }

}
