.view.view--manage-teams
  %header.with-actions
    %h1 Teams

  .teams-list
    %ul.groups
      - groups.each do |group|
        %li.group
          .group-details
            %h3= group.name
            .actions
              = link_to 'Add a new team', new_manage_team_path(team, group: group.id), class: 'button button--success button--sm'
          %ul.teams
            - group.teams.each do |team|
              %li.team
                .team-name
                  %span= team.name
                .actions
                  = link_to 'Edit', edit_manage_team_path(team), class: 'button button--sm button--inverted-primary'
