@use 'helpers';

.view--manage-sprints {
  @extend .manage--common;

  .sprints-list {
    display: flex;
    gap: 1rem;
  }

  .all-sprints {
    flex: auto;
  }

  .current-sprint {
    width: 30%;

    .sprint {
      background: helpers.colour('silver', '100');
      display: block;
    }

    .sprint-actions {
      margin-top: 1rem;
      text-align: left;
    }
  }

  .sprint {
    list-style: none;
    background: helpers.colour('silver', '50');
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
    display: flex;
  }

  .sprint-details {
    flex: auto;
  }

  .sprint-name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .15rem;
  }

  .sprint-date {
    font-size: .9rem;
    color: helpers.colour('grey', '600');
  }

  .sprint-actions {
    flex: 1;
    text-align: right;
  }
}
