%section.sign-in
  %h2 Sign in
  %p You need to sign in to access Paddock.
  %p
    Enter your
    %strong
      @awe.gov.au
    email address below and we'll send you a magic link to sign in.

  = form_tag invitation_path, method: :post do |f|
    = text_field_tag 'email', nil, placeholder: 'your.name@awe.gov.au', class: 'text-input'
    = submit_tag 'Send me a link to sign in', { data: { 'disable-with': 'Send me a link to sign in' } }
