%section.sign-in.invitations--redeem{'data-controller'=>'redeem-invitation'}
  .form{'data-redeem-invitation-target'=>'form'}
    .user-initials
      .user-initials-text
        = invitation_user_initials(token.email)
    .user-email
      = token.email
    = button_to 'Sign me in',
        redeem_invitation_path(token.token), method: 'post',
        data: { redeem_invitation_target: 'button',
          action: 'redeem-invitation#showLoadingMessage',
        }
  .loading{'data-redeem-invitation-target'=>'loading'}
    %p{'data-redeem-invitation-target'=>'loadingMessage'}
