.sign-in.view--invitations-redeem{'data-controller'=>'redeem-invitation'}
  .form{'data-redeem-invitation-target'=>'form'}
    .user-initials
      .user-initials-text
        = invitation_user_initials(token.email)
    .user-email
      = token.email
    = form_tag redeem_invitation_path(token.token), method: :post do
      = render(Common::ButtonComponent.new(scheme: :primary,
                                           data: { redeem_invitation_target: 'button',
                                             action: 'redeem-invitation#showLoadingMessage',
                                           })) { 'Sign me in' }
  .loading{'data-redeem-invitation-target'=>'loading'}
    %p{'data-redeem-invitation-target'=>'loadingMessage'}
