@use 'helpers';
@import 'container';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: helpers.colour('silver', '50');
  font-size: 100%;
  line-height: 1.25;
  color: helpers.colour('black');
}

main.app {
  @include container;

  box-shadow: rgba(0,0,0,0.03) 0px -3px 5px,
    rgba(0,0,0,0.03) 0px 2px 2px;
  min-height: 90vh;
  background: helpers.colour('white');
  margin: 0 auto 2rem;
  border-radius: .5rem;

  .inner {
    padding: 1.5rem;
  }

  h1.page-title {
    text-align: center;
    margin: 0 0 1.5rem;
  }
}

p {
  margin-bottom: .9em;
  line-height: 1.4;
}
