@import 'container';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: $base-color;
  font-size: 100%;
  line-height: 1.25;
  color: $black;
}

main.app {
  @include container;

  box-shadow: darken($base-color, 3%) 0px -3px 5px,
    darken($base-color, 3%) 0px 2px 2px;
  min-height: 90vh;
  background: $white;
  margin: 0 auto 2rem;
  border-radius: .5rem;

  .inner {
    padding: 1.5rem;
  }

  h1.page-title {
    text-align: center;
    margin: 0 0 1.5rem;
  }
}
