@use 'breakpoint-sass/stylesheets/_breakpoint';

@mixin container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint.breakpoint($desktop) {
    max-width: $desktop;
  }
}
