@import 'container';

header.app {
  @include container;

  padding: .9rem 0;
  display: flex;
  position: relative;

  h1 {
    text-align: left;
    font-weight: 800;
    font-size: 1.8rem;
    padding: .2rem 0;
    text-shadow: #fff 0px 1px 1px;
    margin: 0;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        color: $blue;
      }
    }
  }

  h1, .sprint-selector, .user-org {
    flex: 1;
  }

  nav {
    flex: 1;

    ul {
      position: absolute;
      bottom: 0;
      right: 1.5rem;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: .2rem;

      &.selected {
        &.section-manage a {
          background: $section--manage;
        }
        &.section-updates a {
          background: $section--updates;
        }
      }
    }

    a {
      display: inline-block;
      background: rgba(255, 255, 255, 1);
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      padding: 1rem 1.3rem;
      font-size: 1.1rem;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    .selected a {
      background: $light-blue;
      color: $white;
    }
  }
}

header.section {
  background: $light-blue;
  color: $white;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding: .5rem 1.5rem;
  margin: 0 0 0;
  display: flex;

  &.section-updates {
    background: $section--updates;
  }
  &.section-manage {
    background: $section--manage;
  }

  h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: .9rem 2rem .9rem 0;
    width: auto;
  }

  nav {
    flex: 1;
    margin-top: .6rem;

    li {
      display: inline-block;
      margin-right: .2rem;
    }

    a {
      color: $white;
      display: inline-block;
      text-decoration: none;
      font-size: .95rem;
      padding: .5rem .8rem;
      border-radius: .25rem;

      &:hover {
        background: rgba(255,255,255,0.8);
        color: $black;
      }
    }
  }
}
