@use 'helpers';
@import 'container';

header.app {
  @include container;

  padding: .9rem 0;
  display: flex;
  position: relative;

  h1 {
    text-align: left;
    font-weight: 800;
    font-size: 1.8rem;
    padding: .2rem 0;
    text-shadow: #fff 0px 1px 1px;
    margin: 0;
    flex: 1;

    a {
      text-decoration: none;
      color: helpers.colour('black');

      &:hover {
        color: helpers.colour('blue', '800');
      }
    }
  }

  nav {
    flex: 1;

    ul {
      position: absolute;
      bottom: 0;
      right: 1.5rem;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: .2rem;

      &.selected {
        &.section-manage a {
          background: $section--manage;
        }
        &.section-updates a {
          background: $section--updates;
        }
      }
    }

    a {
      display: inline-block;
      background: rgba(255, 255, 255, 1);
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      padding: 1rem 1.3rem;
      font-size: 1.1rem;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    .selected a {
      background: helpers.colour('blue', '100');
      color: helpers.colour('white');
    }
  }
}
