@use 'helpers';
@use "@fontsource/public-sans/scss/mixins" as PublicSans;
@use "@fontsource/fira-code/scss/mixins" as FiraCode;

$publicSansName: 'Public Sans';
$firaCodeName: 'Fira Code';

@include PublicSans.fontFaceCustom(
  $fontName: $publicSansName,
  $weight: 400,
  $style: 'italic',
  $woff2Path: "public-sans-latin-400-italic.woff2",
  $woffPath: "public-sans-latin-400-italic.woff"
);

@include PublicSans.fontFaceCustom(
  $fontName: $publicSansName,
  $weight: 400,
  $style: 'normal',
  $woff2Path: "public-sans-latin-400-normal.woff2",
  $woffPath: "public-sans-latin-400-normal.woff"
);

@include PublicSans.fontFaceCustom(
  $fontName: $publicSansName,
  $weight: 700,
  $style: 'italic',
  $woff2Path: "public-sans-latin-700-italic.woff2",
  $woffPath: "public-sans-latin-700-italic.woff"
);

@include PublicSans.fontFaceCustom(
  $fontName: $publicSansName,
  $weight: 700,
  $style: 'normal',
  $woff2Path: "public-sans-latin-700-normal.woff2",
  $woffPath: "public-sans-latin-700-normal.woff"
);

@include FiraCode.fontFaceCustom(
  $fontName: $firaCodeName,
  $weight: 400,
  $style: 'normal',
  $woffPath: "fira-code-latin-400-normal.woff",
  $woff2Path: "fira-code-latin-400-normal.woff2"
);

h1, h2, h3, h4 {
  font-weight: bold;
  margin-top: .25em;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .85rem;
}

a {
  color: helpers.colour('blue', '900');
}
