@use 'helpers';

.view--updates-edit {
  .actions {
    margin-top: 1rem;
  }

  .sprint-goals {
    ol {
      list-style: decimal;
      padding-left: 1.5rem;
    }
    li {
      padding-left: 1rem;
      margin: .4rem 0;
    }
    input {
      width: 80%;
    }
  }

  .headcount input {
    width: 6rem;
  }

  .issues {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    li {
      background: helpers.colour('grey', '100');
      margin-bottom: 1rem;

      h2 {
        background: helpers.colour('blue', '100');
        color: helpers.colour('black');
        padding: .7rem 1rem;
        font-size: 1.3rem;
        margin-bottom: .5rem;
        display: flex;
        cursor: pointer;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        &:hover {
          background: helpers.colour('blue', '200');
        }

        .title {
          flex: auto;
        }
        .toggle {
          min-width: 3rem;
          text-align: right;
          display: block;

          i {
            @extend .fas;
            @extend .fa-chevron-down;
          }
        }
      }

      .content {
        padding: 0.25rem 1rem;
      }

      &.closed {
        .content {
          display: none;
        }

        h2 {
          border-radius: .25rem;

          .toggle i {
            @extend .fa-chevron-right;
          }
        }
      }
    }

    .action {
      margin-bottom: 2rem;
    }
  }

  .invalid-submit-message {
    .info-box__icon {
      @extend .fas;
      @extend .fa-exclamation-circle;
    }
  }
}
