@use 'helpers';

.view--updates-edit {
  min-height: 40rem;

  .columns {
    display: flex;
    gap: 2.5rem;
  }

  nav, .main-col {
    flex: 1;
  }

  nav {
    max-width: 12rem;

    li {
      margin-bottom: .1rem;

      a {
        display: block;
        border-radius: .25rem;
        padding: .6rem .7rem;
        text-decoration: none;
        color: helpers.colour('black');

        &:hover {
          background: #eee;
        }

        .validation-status {
          float: right;

          i {
            @extend .fas;
          }

          &.valid i {
            @extend .fa-check-circle;
            color: helpers.colour('green', '800');
          }

          &.invalid i {
            @extend .fa-exclamation-circle;
            color: helpers.colour('orange', '600');
          }

          &.not-started i {
            @extend .far;
            @extend .fa-circle;
            color: #ddd;
          }

          .label {
            display: none;
          }
        }
      }

      &.selected a {
        background: helpers.colour('blue', '100');
        font-weight: bold;

        .validation-status.not-started i {
          color: #91C9DE;
        }
      }

      &.preview {
        padding-top: .4rem;
        border-top: 1px solid #ddd;
        margin-top: .4rem;
      }
    }
  }

  .main-col {
    h2 {
      font-size: 1.8rem;
      margin: 0 0 2rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  .question-detail {
    ul {
      padding-left: 1rem;
      margin-bottom: 1.5rem;
    }
    li {
      list-style: disc;
      padding-bottom: .2rem;
    }
  }

  .actions {
    margin-top: 1rem;
  }

  .sprint-goals {
    ol {
      list-style: decimal;
      padding-left: 1.5rem;
    }
    li {
      padding-left: 1rem;
      margin: .4rem 0;
    }
    input {
      width: 80%;
    }
  }

  .headcount input {
    width: 6rem;
  }

  .issues {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    li {
      background: helpers.colour('grey', '100');
      margin-bottom: 1rem;

      h2 {
        background: helpers.colour('blue', '100');
        color: helpers.colour('black');
        padding: .7rem 1rem;
        font-size: 1.3rem;
        margin-bottom: .5rem;
        display: flex;
        cursor: pointer;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        &:hover {
          background: helpers.colour('blue', '200');
        }

        .title {
          flex: auto;
        }
        .toggle {
          min-width: 3rem;
          text-align: right;
          display: block;

          i {
            @extend .fas;
            @extend .fa-chevron-down;
          }
        }
      }

      .content {
        padding: 0.25rem 1rem;
      }

      &.closed {
        .content {
          display: none;
        }

        h2 {
          border-radius: .25rem;

          .toggle i {
            @extend .fa-chevron-right;
          }
        }
      }
    }

    .action {
      margin-bottom: 2rem;
    }
  }

  .invalid-submit-message {
    .info-box__icon {
      @extend .fas;
      @extend .fa-exclamation-circle;
    }
  }

  .markdown-wrapper {
    display: flex;
    gap: 1.5rem;

    .form-input {
      width: 70%;
      margin-top: 0;

      #update_content {
        min-height: 22rem;
        max-height: 35rem;
      }
    }
    .hint {
      width: 30%;
      font-size: .85rem;
    }

    pre {
      background: #eee;
      padding: .5rem;
      font-family: monospace;
      font-size: .8rem;
    }

    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
  }
}
