.quarters-commodity-filter
  = form_tag quarter_commitments_path(quarter),
             method: :get,
             class: 'quarters-commodity-filter__form',
             data: { controller: 'filterable-list' } do
    = label_tag :commodity, class: 'quarters-commodity-filter__label' do
      Filter commitments by:
    = select_tag :commodity,
        options_for_select(options, selected: selected_commodity),
        include_blank: 'All commodities',
        class: 'quarters-commodity-filter__control select-box select-box--sm',
        data: { action: 'change->filterable-list#update' }
    = render(Common::ButtonComponent.new(scheme: :primary,
                                         size: :sm,
                                         classes: 'quarters-commodity-filter__button',
                                         data: { filterable_list_target: 'button' })) { 'Filter' }
