.update-status.draft
  %h3 This update is currently in draft
  %p When you've finished making changes, you can submit the update.
  .actions
    = render(Common::ButtonComponent.new(tag: :a, href: edit_update_path(sprint, team))) do
      Make changes
    = render(Common::ButtonComponent.new(tag: :a, href: submit_update_path(sprint, team))) do
      Finalise and submit
