= turbo_frame_tag 'modal', class: 'turbo-frame turbo-frame--modal'

.team-header
  .team-header__content
    .team-header__group
      = team.group.name
    %h2.team-header__name
      = team.name
  .team-header__actions
    - if signed_in_admin?
      = link_to manage_sprint_update_path(sprint, team), class: 'button button--inverted-warning', data: { turbo_frame: 'modal' } do
        %i.button__icon.button__icon--warning
        Danger zone
