.update-status.not-started
  %h3 The team update for this sprint hasn't been started yet
  .actions
    = form_tag start_update_path(sprint, team), method: :post do
      = render(Common::ButtonComponent.new(scheme: :primary, type: :submit)) { 'Start update' }
