.view.view--updates-history
  = render partial: 'header', locals: { team: team }

  %h2 Change history

  = render partial: 'shared/components/version_history', locals: { versions: sprint_update.recent_versions }
