%section.update-history
  = render partial: 'header', locals: { team: team }

  %h2 Change history

  %ul.history
    - sprint_update.recent_versions.each do |version|
      %li
        .metadata
          .user
            = change_history_user(version.whodunnit)
          .timestamp
            = time_ago_in_words(version.created_at)
            ago
        %dl.changeset
          - version.changeset.each do |field,(previous,current)|
            %dt=field
            %dd
              %span.previous=previous
              %span.arrow
              %span.current=current
