.view.view--updates-edit
  = render partial: 'header', locals: { team: service.team }

  .flow
    .flow__navigation
      = render partial: 'edit_navigation', locals: { flow: flow, sprint: service.sprint, team: service.team }

    .flow__current-step
      %h2 Submit the team update

      - if service.success?
        %p When you've finished making changes, you can submit the update.
        %p Once you've submitted the update, you won't be able to make further changes to it.

        .actions
          = button_to 'Submit update', submit_update_path(service.sprint, service.team), class: 'button', data: { method: 'post' }
      - else
        .info-box.invalid-submit-message
          .info-box__icon
          You need to complete all steps before submitting the update.

