@use 'helpers';
@import 'typefaces';

body.pdf {
  @include pdfRegularFontStack;

  h1, h2, h3, strong {
    @include pdfBoldFontStack;
  }

  em, i {
    @include pdfItalicFontStack;
  }

  .page-break {
    page-break-before: always;
  }
}

footer.pdf {
  background: helpers.colour('silver', '50');
  padding-top: 1rem;

  .inner {
    background: helpers.colour('grey', '600');
    color: helpers.colour('white');
    padding: 1.25rem 1.5rem;
    height: 5rem;
    font-size: .75rem;
    text-align: right;
    font-weight: bold;

    .generated {
      margin-bottom: .25rem;
    }
  }
}
