@use 'helpers';
@use 'typefaces';

$pdf-margin: 2.5rem;

body.pdf {
  .outline-anchor {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    font-size: .1rem;
    color: transparent;
  }
}

body.pdf .page {
  position: relative;
  font-weight: normal;

  header {
    background: helpers.colour('silver', '700');
    color: helpers.colour('white');
    padding: 1.5rem $pdf-margin;

    .title {
      @include typefaces.pdfBoldFontStack;

      font-size: 1.8rem;
      margin-bottom: 0;
    }
  }

  section {
    padding: 1.5rem $pdf-margin;
  }

  section.overview {
    .summary {
      @include typefaces.pdfBoldFontStack;

      padding: 1rem;
      border-radius: .5rem;
      background: helpers.colour('grey', '100');
      margin-bottom: 2rem;

      ul.delivery-status {
        overflow: auto;

        li {
          float: left;
          width: 33%;
          padding-right: .5rem;

          &:last-of-type {
            padding-right: 0;
          }

          .inner {
            padding: 1rem;
            min-height: 8rem;
            border-radius: .5rem;
            display: block;
            color: helpers.colour('white');
            text-align: center;
          }

          &.status-green .inner {
            background: helpers.colour('green', '800');
          }
          &.status-amber .inner {
            background: helpers.colour('orange', '600');
          }
          &.status-red .inner {
            background: helpers.colour('red', '600');
          }

          .value {
            display: block;
            font-size: 3.5rem;
            font-weight: bold;
          }
          .label {
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
    }

    li.group {
      margin: 0;
      padding: 1.5rem 0 0.5rem;
      page-break-inside: avoid;

      .group-name {
        display: block;
        @include typefaces.pdfBoldFontStack;

        font-size: .9rem;
        text-transform: uppercase;
        margin-bottom: .7rem;
        color: #555;
      }
    }

    li.team {
      display: block;
      background: helpers.colour('grey', '100');
      border-radius: .4rem;
      box-shadow: rgba(0,0,0,0.05) 0px 2px 2px,
        rgba(0,0,0,0.03) 0px -2px 2px;
      padding: 1rem;
      margin-bottom: 1rem;
      overflow: auto;

      .team-name {
        @include typefaces.pdfBoldFontStack;
        float: left;
        width: 40%;
        padding: .5rem 0;
        font-size: 1.3rem;
      }

      .key-indicators {
        float: right;
        width: 60%;
        overflow: auto;

        .indicator {
          float: left;
          background: helpers.colour('white');
          border: 1px solid helpers.colour('grey', '300');
          padding: .5rem;
          border-radius: .3rem;
          width: 32%;
          overflow: auto;
          margin-left: 1%;

          &.delivery-status {
            .label {
              @include typefaces.pdfBoldFontStack;

              float: left;
              width: 40%;
              color: #000;
              padding-right: .4rem;
              text-transform: uppercase;
              font-size: .65rem;
              margin-top: .25rem;
              color: #888;
            }

            .value {
              float: right;
              width: 60%;
              text-align: right;
            }

            .status-indicator__circle {
              margin-left: .2rem;
              margin-bottom: -.2rem;
            }
          }

          &.completion-status {
            display: block;
            float: none;
            width: auto;
            overflow: hidden;
          }
        }
      }
    }
  }

  &.update {
    position: relative;

    header {
      .group {
        @include typefaces.pdfRegularFontStack;

        display: block;
        font-size: 1.3rem;
      }

      .team-name {
        @include typefaces.pdfBoldFontStack;

        font-size: 2.2rem;
        margin: 0;
      }
    }

    section.inner {
      padding: 0;
      position: relative;

      .update-section {

      }

      .summary {
        padding-right: 2rem;
        font-size: 1em;
      }

      .sprint-goals ol {
        list-style: decimal;
        padding-left: 1rem;

        li {
          padding-left: .25rem;
          margin-bottom: .2rem;
        }
      }
    }
  }
}

.team-indicators {
  display: block;
  margin: 0;
  padding: 1.5rem $pdf-margin;
  overflow: auto;
  background: helpers.colour('silver', '400');

  .team-indicators__indicator {
    width: 25%;
    float: left;
    padding-right: .5rem;

    &:last-of-type {
      padding-right: 0;
    }
  }

  .team-indicators__inner {
    background: helpers.colour('silver', '100');
    border-radius: .5rem;
    padding: .8rem;
    text-align: center;
  }

  .team-indicators__label {
    @include typefaces.pdfBoldFontStack;

    font-size: 1rem;
    margin: 0 0 .5rem;
  }

  .team-indicators__value {
    display: block;
    border-radius: .5rem;
    background: helpers.colour('white');
    padding: .6rem;
    font-size: 1.3rem;
  }
}

.update-section {
  padding: 0;
  page-break-inside: avoid;

  .update-section__inner {
    background: helpers.colour('white');
    padding: 1.5rem $pdf-margin;
  }

  &:nth-of-type(even) > .update-section__inner {
    background: helpers.colour('silver', '25');
  }

  .update-section__title {
    @include typefaces.pdfBoldFontStack;

    font-size: 1.4rem;
    padding-top: .25rem;
    width: 35%;
    float: left;
  }

  .update-section__content {
    margin-left: 35%;
    width: 65%;
    font-size: .95rem;
  }

  .update-section__clear {
    clear: both;
  }

  &.update-section--with-break {
    page-break-inside: auto;
  }
}

.markdown-block--pdf {
  p, ul, ol {
    page-break-inside: avoid;

    padding-top: .5rem;
    padding-bottom: .5rem;

    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    @include typefaces.pdfBoldFontStack;
    page-break-after: avoid;

    padding-top: 1rem;
    padding-bottom: .5rem;
    margin: 0;
  }

  li > p {
    padding: 0;
  }
}

.issue-wrapper {
  page-break-inside: avoid;
  padding: .6rem 0;
}

.issue {
  margin: 0;

  .issue__description, .issue__section-label {
    @include typefaces.pdfBoldFontStack;
  }
}

.button {
  @include typefaces.pdfBoldFontStack;
}
