@use 'helpers';

@mixin button-colors($base-color, $text-color, $border-color) {
  &, &:link, &:visited {
    background: $base-color;
    border-bottom-color: $border-color;
    color: $text-color;
  }

  &:hover {
    background: darken($base-color, 5%);
  }
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: inline-block;
  padding: .6em .9em;
  border-radius: .2em;
  border: none;
  border-bottom: .2em transparent solid;
  box-shadow: rgba(0,0,0,0.1) 0px -1px 2px, rgba(0,0,0,0.1) 0px 2px 3px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  vertical-align: middle;

  &:active {
    border-bottom-width: .1em;
    margin-top: .1em;
  }

  @include button-colors(
    helpers.colour('blue', '800'),
    helpers.colour('white', '100'),
    helpers.colour('blue', '900'),
  );
}

.button--primary {
  $base-colour: helpers.colour('blue', '800');
  $text-colour: helpers.colour('white', '100');
  $border-colour: helpers.colour('blue', '900');

  @include button-colors($base-colour, $text-colour, $border-colour);
}

.button--inverted {
  $base-colour: helpers.colour('white', '100');
  $text-colour: helpers.colour('black', '900');
  $border-colour: helpers.colour('silver', '500');

  @include button-colors($base-colour, $text-colour, $border-colour);
}

.button--success {
  $base-colour: helpers.colour('green', '800');
  $text-colour: helpers.colour('white', '100');
  $border-colour: helpers.colour('green', '900');

  @include button-colors($base-colour, $text-colour, $border-colour);
}

.button--warning {
  $base-colour: helpers.colour('white', '100');
  $text-colour: helpers.colour('black', '900');
  $border-colour: helpers.colour('orange', '700');

  @include button-colors($base-colour, $text-colour, $border-colour);
}

.button--danger {
  $base-colour: helpers.colour('red', '600');
  $text-colour: helpers.colour('white', '100');
  $border-colour: helpers.colour('red', '900');

  @include button-colors($base-colour, $text-colour, $border-colour);
}

.button--sm {
  font-size: .85rem;
}

.button__icon {
  padding-right: .25rem;
}

.button__icon--warning {
  color: helpers.colour('orange', '700');
}
