@use '../variables/colours';

$default-color: colours.$black;
$selected-color: colours.$blue-900;

.checkbox {
  display: block;
  position: relative;
  font-size: 1rem;
  line-height: 1;
}

.checkbox--sm {
  margin: .4rem 0;

  .checkbox__label-text {
    font-size: 1rem;
    padding: 0.13rem 0 0.13rem 1.7rem;
    min-height: 20px;
  }

  .checkbox__label-text::before {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  .checkbox__label-text::after {
    top: 2px;
    left: 7px;
    width: 6px;
    height: 13px;
    border-width: 3px;
  }
}

.checkbox--lg {
  margin: 1.5rem 0;

  .checkbox__label-text {
    font-size: 1.4rem;
    padding: 0 0 0 3.6rem;
    min-height: 46px;
  }

  .checkbox__label-text::before {
    width: 46px;
    height: 46px;
    border-width: 4px;
  }

  .checkbox__label-text::after {
    top: 4px;
    left: 17px;
    width: 13px;
    height: 31px;
    border-width: 6px;
  }
}

.checkbox__control {
  display: none;
}

.checkbox__label-text {
  font-size: 1em;
  font-weight: normal;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  > * {
    flex: 100%;
    text-align: left;
  }
}

.checkbox__label-text::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  border: solid $default-color;
}

.checkbox__label-text::after {
  content: '';
  position: absolute;

  border-right: solid $selected-color;
  border-bottom: solid $selected-color;
  transform: rotate(46deg);

  opacity: 0;
}

.checkbox__control:checked + .checkbox__label-text::before {
  border-color: $selected-color;
}

.checkbox__control:checked + .checkbox__label-text::after {
  opacity: 1;
}

.checkbox__control:checked + .checkbox__label-text {
  color: $selected-color;
}

.checkbox__subtitle {
  display: block;
  font-size: .7em;
  padding-top: .4em;
}
