@use 'helpers';

.flash-message {
  padding: .7rem .5rem;
  background: helpers.colour('grey', '100');
  margin-bottom: 1.5rem;
  border-radius: .25rem;
  color: helpers.colour('white');
}

.flash-message--global {
  position: absolute;
  top: .9rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 20rem;
  box-shadow: rgba(0,0,0,0.05) 0px -3px 3px;
  text-align: center;
}

.flash-message--alert {
  background: helpers.colour('red', '600');
}

.flash-message--notice {
  background: helpers.colour('green', '800');
}
