@use 'helpers';

.form-actions {
  background: helpers.colour('grey', '200');
  padding: 1.5rem;
  margin: 2.5rem 0 2rem;
}

.form-actions__cancel {
  display: inline-block;
  padding-left: .75rem;
}
