@use 'helpers';

.form-input {
  margin: 1rem 0 2rem;
  font-size: 1rem;
}

.form-input--invalid {
  border-left: .4rem solid helpers.colour('red', '600');
  padding: .75rem 1rem;
}

.form-input__label {
  display: block;
  margin: .25em 0;

  font-size: 1.3em;
  font-weight: bold;
}

.form-input__optional {
  font-weight: normal;
  padding-left: .5rem;
  color: #888;
  font-size: .85em;
}

.form-input__control {
  margin: .4em 0;
}

.form-input__hint {
  display: block;
  margin: .25em 0;
  color: helpers.colour('grey', '600');
}

.form-input__error {
  display: block;
  margin: .4em 0;
  color: helpers.colour('red', '600');
  font-weight: bold;
}
