@use '../variables/colours';

$default-color: colours.$black;
$selected-color: colours.$blue-900;

.radio-button {
  display: block;
  position: relative;
  font-size: 1rem;
  line-height: 1;
}

.radio-button--sm {
  margin: .4rem 0;

  .radio-button__label-text {
    font-size: 1rem;
    padding: 0.13rem 0 0.13rem 1.7rem;
  }

  .radio-button__label-text::before {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  .radio-button__label-text::after {
    top: 4px;
    left: 4px;
    border-width: 6px;
  }
}

.radio-button--lg {
  margin: 1.5rem 0;

  .radio-button__label-text {
    font-size: 1.4rem;
    padding: 0 0 0 3.6rem;
    min-height: 46px;
  }

  .radio-button__label-text::before {
    width: 46px;
    height: 46px;
    border-width: 4px;
  }

  .radio-button__label-text::after {
    top: 9px;
    left: 9px;
    border-width: 14px;
  }
}

.radio-button__control {
  display: none;
}

.radio-button__label-text {
  font-size: 1em;
  font-weight: normal;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  > * {
    flex: 100%;
    text-align: left;
  }
}

.radio-button__label-text::before {
  content: ' ';
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;
  border-style: solid;
  border-color: $default-color;
}

.radio-button__label-text::after {
  content: ' ';

  display: block;
  width: 0;
  height: 0;

  position: absolute;

  border-radius: 50%;
  border-style: solid;
  border-color: $selected-color;

  opacity: 0;
}

.radio-button__control:checked + .radio-button__label-text::before {
  border-color: $selected-color;
}

.radio-button__control:checked + .radio-button__label-text::after {
  opacity: 1;
}

.radio-button__control:checked + .radio-button__label-text {
  color: $selected-color;
}

.radio-button__subtitle {
  display: block;
  font-size: .7em;
  padding-top: .4em;
}
