@use 'helpers';

.sprint-timeline {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: 3rem;
  padding: 3rem;
  margin: -1.5rem -1.5rem 1rem;
  background: helpers.colour('blue', '50');
}

.sprint-timeline__item {
  position: relative;

  &:not(:first-of-type)::before {
    content: ' ';
    position: absolute;
    width: 3.5rem;
    height: .5rem;
    background: helpers.colour('silver', '500');
    z-index: 1;
    top: 1.25rem;
    left: -3.5rem;
  }
}

.sprint-timeline__number {
  background: helpers.colour('grey', '50');
  border-radius: 50%;
  padding: .8rem 0 0;
  width: 3rem;
  height: 3rem;
  display: block;
  font-size: 1.1rem;
  text-align: center;
  color: helpers.colour('black');
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
  position: relative;
}

.sprint-timeline__item--current .sprint-timeline__number {
  background: helpers.colour('orange', '700');
  color: helpers.colour('white');

  &:hover {
    background: helpers.colour('orange', '800');
  }
}

.sprint-timeline__item--historical .sprint-timeline__number {
  background: helpers.colour('silver', '500');
  color: helpers.colour('white');

  &:hover {
    background: helpers.colour('silver', '600');
  }
}

.sprint-timeline__item--future {
  &:not(:first-of-type)::before {
    background: helpers.colour('blue', '75');
  }
}

.sprint-timeline__item--future .sprint-timeline__number {
  background: helpers.colour('blue', '75');
  color: helpers.colour('grey', '700');

  &:hover {
    background: helpers.colour('blue', '100');
  }
}
