@use 'helpers';

.status-indicator {
  font-size: 1em;
}

.status-indicator__circle {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  margin: 0 .2em -0.2em .2em;
  background-color: helpers.colour('grey', '600');
}

.status-indicator--green {
  $status-colour: helpers.colour('green', '800');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}

.status-indicator--amber {
  $status-colour: helpers.colour('orange', '600');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}

.status-indicator--red {
  $status-colour: helpers.colour('red', '600');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}
