@use 'helpers';

.status-indicator { }

.status-indicator__circle {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: .2rem;
  margin-bottom: -.1rem;
  background-color: helpers.colour('grey', '600');
}

.status-indicator--green {
  $status-colour: helpers.colour('green', '800');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}

.status-indicator--amber {
  $status-colour: helpers.colour('orange', '600');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}

.status-indicator--red {
  $status-colour: helpers.colour('red', '600');

  color: $status-colour;

  .status-indicator__circle {
    background-color: $status-colour;
  }
}
