@use '../variables/colours';
@use '../variables/typography';

$background-color: colours.$white;
$border-color: colours.$silver-900;

.text-area-input {
  font-size: 1rem;
  font-family: typography.$font-stack;

  padding: 1rem;
  line-height: 1.3rem;

  resize: vertical;

  background: $background-color;
  border: .14rem solid $border-color;
  border-radius: .4rem;

  box-shadow: rgba(0,0,0,0.05) 0px -1px 1px, rgba(0,0,0,0.1) 0px 2px 3px;
}

.text-area-input--full-width {
  width: 100%;
}
