@use 'helpers';
@use 'variables/breakpoints';
@use 'breakpoint-sass/stylesheets/_breakpoint';

.update-content-block {
  font-size: 1rem;
  margin: 0 -1.5rem;
  padding: 1rem 1.5rem;

  @include breakpoint.breakpoint(breakpoints.$desktop) {
    display: flex;
    gap: 1em;
    padding: 2rem 1.5rem;
  }

  &:nth-of-type(even) {
    background: helpers.colour('silver', '25');
  }
}

.update-content-block__title {
  font-weight: bold;
  font-size: 1.3em;
  margin: .5em 0 1em;

  @include breakpoint.breakpoint(breakpoints.$desktop) {
    width: 32%;
    font-size: 1.4em;
    margin-top: .1em;
  }
}

.update-content-block__content {
  @include breakpoint.breakpoint(breakpoints.$desktop) {
    width: 68%;
  }
}

.update-content-block__content--list {
  padding-left: 1em;

  li {
    list-style: decimal;
    padding: .3em 0;
  }
}

.update-content-block__content--offset-list {
  @include breakpoint.breakpoint(breakpoints.$desktop) {
    margin-top: -1em;
  }
}
