$font-stack: 'Public Sans', sans-serif;

$silver: #ecf0f1;
$light-brown: #FCEBE1;
$white: #fdfdfd;
$black: #020202;

$amethyst: #9b59b6;
$blue: #2980b9;

$dark-blue: #006BA4;
$dark-grey: #878787;

$green: #2FA800;
$amber: #FB7300;
$red: #FF0516;

$light-red: #F5CBD1;
$light-green: #CFF4C4;
$light-amber: #FFF3E0;
$light-blue: #B9E6F1;
$light-grey: #f7f7f7;

$focus-color: transparent;

$base-color: $silver;

$primary-button-color: $blue;
$primary-button-text-color: $white;

$inverted-button-color: $white;
$inverted-button-text-color: $black;

$success-button-color: $green;
$success-button-text-color: $white;

$danger-button-color: $red;
$danger-button-text-color: $white;
