@use 'helpers';
@import 'variables/**/*.scss';
@import 'components/button';

$base-colour: helpers.colour('silver', '50');

body {
  background: $base-colour;
  font-family: sans-serif;
  line-height: 1.3;
}

td.wrapper {
  border-radius: .5rem;
  background: helpers.colour('white');
  padding: 1.5rem 1.5rem;
  box-shadow: darken($base-colour, 1%) 0px -3px 3px;
}

td.action {
  background: helpers.colour('blue', '800');
  border-bottom: .2em solid helpers.colour('blue', '900');

  a {
    display: block;
    color: helpers.colour('white', '100');
    text-align: center;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
  }
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
  text-align: center;
}

p {
  text-align: center;
}


