.markdown-input__guidance
  %p
    You can style your text with
    = link_to 'Markdown', 'https://www.markdownguide.org/cheat-sheet'
    \.
  %p
    For example:
  %pre
    \# Heading
  %pre.italic
    *italic*
  %pre.bold
    **bold**
  %pre
    \- Dot point A
    \- Dot point B
    \- Dot point C
  %pre
    1. Numbered item 1
    2. Numbered item 2
    3. Numbered item 3
