- quarter = local_assigns[:quarter]
- presenter = QuarterNavigationPresenter.new(self, quarter: quarter)

.sprint-navigation
  .sprint-navigation__dates
    = presenter.quarter_start_on
    to
    = presenter.quarter_end_on
  - if presenter.link_to_previous_quarter?
    = link_to presenter.previous_quarter_link,
        class: 'sprint-navigation__button sprint-navigation__button--previous',
        title: 'Previous quarter' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Previous quarter
  - else
    .sprint-navigation__button.sprint-navigation__button--previous.sprint-navigation__button--disabled
      .sprint-navigation__icon
  - if presenter.link_to_next_quarter?
    = link_to presenter.next_quarter,
        class: 'sprint-navigation__button sprint-navigation__button--next',
        title: 'Next quarter' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Next quarter
  - else
    .sprint-navigation__button.sprint-navigation__button--next.sprint-navigation__button--disabled
      .sprint-navigation__icon
