- presenter = SprintNavigationPresenter.new(self, **local_assigns.slice(:sprint, :team))

.sprint-navigation
  .sprint-navigation__dates
    = presenter.sprint_start_on
    to
    = presenter.sprint_end_on
  - if presenter.link_to_previous_sprint?
    = link_to presenter.previous_sprint_link,
        class: 'sprint-navigation__button sprint-navigation__button--previous',
        title: 'Previous sprint' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Previous sprint
  - else
    .sprint-navigation__button.sprint-navigation__button--previous.sprint-navigation__button--disabled
      .sprint-navigation__icon
  - if presenter.link_to_next_sprint?
    = link_to presenter.next_sprint_link,
        class: 'sprint-navigation__button sprint-navigation__button--next',
        title: 'Next sprint' do
      .sprint-navigation__icon
      .sprint-navigation__hidden-label
        Next sprint
  - else
    .sprint-navigation__button.sprint-navigation__button--next.sprint-navigation__button--disabled
      .sprint-navigation__icon
